body {
  background-color : black;
  color : white;
}
 
.pt-banner {
  background-color: black;
  color: white;
  height: 100px;
}

.container.div {
  opacity : 0;
}

.text-large {
  font-size: 100%;
}

.text-small {
  font-size: 75%;
}

.form-control, input, aux-control {
  background-color : darkgray;
  color : white;
}

.navbtn {
  height : 50px;
  width : 60px;
}

table {
  background-color : lightsteelblue;
  color : black;
  font-size: 75%;
}
