body {
    background-color : lightgray;
    color : black;
 }
 
 .pt-banner {
    background-color: darkblue;
    color: white;
    height: 75px;
 }
 .container.div {
    opacity : 0;
 }

 .text-large {
   font-size: 100%;
 }

 .form-control, input, aux-control {
   background-color : darkgray;
   color : black;
 }

 .navbtn {
   height : 50px;
   width : 60px;
 }

 table {
  background-color : lightgray;
  color : black;
  font-size: 75%;
 }